# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - 1.0
  - nightly
notifications:
  email: false
after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("ValueHistories")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
